*{
    margin:0 auto;
    padding:0 ;
    max-width: 1200px;

}
.container{
    width:100%;
    max-width: 1000px;
}
body{
    font-family: "Montserrat", sans-serif;
    border:2px solid black;
}
section{
    padding:120px 0;
}
.text-orange{
    color:orange;
}
.letter-spacing-2{
    letter-spacing:2px;
}
.letter-spacing-1{
    letter-spacing:1px;
}
 .data i{
    margin-right:20px;
    color:orange;
    padding: 10px;
   
    border:1px solid orange;
    border-radius: 50%;
}
.icon-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.data{
    margin:10px 0;
}
.self-detail{
    border-bottom:5px solid orange;
}
.main-heading{
 color:orange;
 text-transform: uppercase;
 margin:20px 0px;
}
.skills span{
    font-weight: normal;
}
ul>li{
    margin:10px 0px;
}
.border-right{
    border-right: 1px solid rgb(84, 81, 81);

}
.box-2{
    padding-left:100px;
}
/* .contact-details{
    display: flex;
    flex-direction: column;
} */